.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */

.bg-secondary {
  background-color: #fff8f3;
}
.text-primary-color {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.btn-primary {
  background-color: #fd6e0a;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  border: none;
}
.section-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}
.text-center {
  text-align: center;
  padding: 0 120px;
}

/* header */

.header {
  background-image:
    url("../images/developer.png"), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position:
    top left,
    bottom right;
}

/* navbar style */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
}

/* banner style */

.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 30px 0 200px;
}
.banner-content {
  width: 500px;
}
.banner-greetings {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 0;
}
.banner-title {
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
.banner-pic {
  width: 400px;
}

/* main style */

main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 100px;
}

/* about style */

.about {
  border-radius: 10px;
  padding: 100px 120px;
  text-align: center;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.item-title {
  font-size: 20px;
  color: #757575;
  margin-bottom: 0;
}
.item-description {
  font-size: 20px;
  font-weight: bold;
  color: #474747;
}

/* what i do style */

.skills-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}
.skill-title {
  font-size: 20px;
  font-weight: 600px;
  color: #181818;
}
.skill-description {
  color: #757575;
}

/* resume section style */

.resume-container{
  display: flex;
  gap: 30px;
}
.resume-column-title{
  font-size: 30px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 20px;
}
.experience-title{
  font-size: 25px;
  font-weight: 700;
  color: #474747;
  margin-bottom: 10px;
}
.experience-sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #757575;
  margin: 0;
}
.experience-description{
  color: #757575;
}
.resume hr{
  margin: 30px 0;
}
.resume-download-btn{
  text-align: center;
  margin-top: 50px;
}