.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary-color{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.dark-3{
    color: #757575;
}
.btn-primary{
    background-color: #FD6E0A;
    padding: 15px 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
    border: none;
}

/* header */

.header{
    background-image: url('../images/developer.png'), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* navbar style */

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
}

/* banner style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
}
.banner-content{
    width: 500px;
}
.banner-greetings{
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 0;
}
.banner-title{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
}
.banner-pic{
    width: 400px;
}